<html>
    <head>
        <title>Electricity Charge Calculator</title>
    </head>
    <body>
        <h1>Your Calculation Name</h1>
        <form method="POST" action="/electricity_charge/{{ calculation.id }}/add_electronic">
        <table id="electronics_data_table"><tr>
            <td><input name="name_text" id="name_box" placeholder="New Electronic's Name" /></td>
            <td><input name="number_text" id="number_box" placeholder="Number" /></td>
            <td><input name="power_text" id="power_box" placeholder="Power (watts)" /></td>
            <td><input name="time_text" id="time_box" placeholder="Time (hours a day)" /></td>
            <td><input id="submit_data" type="submit" value="Submit"></td>
        </tr>
        {% csrf_token %}

        </form>

            <tr>
	        <td>Electronics's Name</td>
	        <td>Number</td>
	        <td>Power (watts)</td>
	        <td>Time (hours/day)</td>
	        <td>Electricity Usage Unit (units)</td>
            </tr>
        {% for electronic in calculation.electronic_set.all %}
	    <tr>
	        <td>{{ electronic.name }}</td>
	        <td>{{ electronic.number }}</td>
	        <td>{{ electronic.power }}</td>
	        <td>{{ electronic.time }}</td>
	        <td>{{ electronic.unit }}</td>
            </tr>
        {% endfor %}
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>Sum units</td>
	        <td>{{ sum_unit }} Units</td>
            </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>Cost</td>
	        <td>{{ cost_unit }} THB</td>
            </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>ft of JAN-APR 2015</td>
	        <td>{{ ft }} Stangs/Unit</td>
            </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>Cost (add ft)</td>
	        <td>{{ cost_add_ft }} THB</td>
            </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>VAT 7%</td>
	        <td>{{ vat }} THB</td>
            </tr>
	    <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>NET COST</td>
	        <td>{{ net_cost }} THB</td>
            </tr>
        </table>
    </body>
</html>

